@import '_common';



header{
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 9;
    .topmenu{
        padding: 0 3%;
        margin: 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        a{
            width: 8%;
            img{
                width: 100%;}
            }
        .menu1{
            width: 50%;
            text-transform: capitalize;
            a{
                color: #000;
                font-size: 1rem;
                font-family: 'Gotham Book';
                margin: 0 2%;
                }
            }
        .menu2{
            width: 50%;
            text-transform: capitalize;
            text-align: right;
            a{
                color: #3c3c3b;
                font-size: 0.6rem;
                font-family: 'Spoqa Han Sans';
                margin: 0 1%;
            }
            a:nth-of-type(7)::before{
                content: '|';
                margin-right: 2%;
            }
        }
    }
}

main{
    width: 100%;
    .visual{
        position: relative;
        img{
            width: auto;
            height: 100vh;}
        .text{
            position: absolute;
            top: 80%; left: 5%;
            h1{
                color: #333333;
                font-size: 3rem;
                font-weight: lighter;
                text-transform: capitalize;
                font-family: 'Gotham Book';}
            p{
                color: #333333;
                font-size: 1.15rem;
                font-weight: bold;
                font-family: 'Gotham Book';;
            }
        }
    }
    .quick{
        // position: fixed;
        // position: absolute;
        // top: 50; right: 0;
        .cart{
            span::after{
                content:'';
                width: 7%;
                height: 7%;
                background: url(../img/quickcart.png) no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%; right: 0%;
                transform: translateY(-100%);
            }
        }
        .found{
            span::after{
                content:'';
                width: 7%;
                height: 7%;
                background: url(../img/quickfound.png) no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%; right: 0%;
            }
        }
        .chat{
            span::after{
                content:'';
                width: 7%;
                height: 7%;
                background: url(../img/quickchat.png) no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%; right: 0%;
                transform: translateY(100%);
            }
        }
    }
    .indi{
        ul{
            li{
                span{
                    width: 10px;
                    height: 10px;
                    background: #333333;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 5%; left: 5%;
                }
            }
        }
    }
    .product{
        width: 88%;
        margin: 8% auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mattress{
            width: 48%;
            img{
                width: 100%;}
            figcaption{
                font-family: 'Spoqa Han Sans';
                font-size: 16px;
                color: #333333;
                margin-top: 3%;
                p{
                    font-family: 'Birthstone Bounce';
                    font-size: 2rem;
                    color: #8cbabf;
                }
            }
        }
        .pillow{
            width: 48%;
            img{
                width: 100%;}
            figcaption{
                font-family: 'Spoqa Han Sans';
                font-size: 16px;
                color: #333333;
                margin-top: 3%;
                p{
                    font-family: 'Birthstone Bounce';
                    font-size: 2rem;
                    color: #8cbabf;
                }
            }
        }
    }
    .reviews{
        width: 88%;
        margin:8% auto 20% auto;
        hr{
            width: 260px;
            border-top: 3px solid #3c3c3b;
            margin: 2% 0;
        }
        h2{
            margin-bottom: 4%;
            text-transform: capitalize;
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Gotham Book';
        }
        div{
            width: 100%;
            display: flex;
            .content{
                width: 70%;
            }
            ul{
                width:95%;
                display: flex;
                justify-content: space-between;
                li{
                    width: 23%;
                    a{
                        font-family: 'Spoqa Han Sans';
                        font-size: 1rem;
                        color: #3c3c3b;
                        line-height: 2;
                        img{
                            width: 100%;
                        }
                        .icon{
                            width: 80px;
                        }
                        p{
                            font-family: 'Spoqa Han Sans';
                            font-size: 0.8rem;
                            color: #3c3c3b;
                            text-align: justify;
                            line-height: 1.5;
                        }
                        .name{
                            font-size: 0.8rem;
                            color: #bdbcbc;
                            line-height: 3;
                        }
                    }
                }
            }       
            .button{
                width:30%;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .thanks{
                    font-family: 'Birthstone Bounce';
                    font-size: 1.5rem;
                    color: #8cbabf;
                    margin: 3% auto;
                }
                p{
                    font-family: 'Gotham Book';
                    font-size: 1.8rem;
                    margin: 15% auto;
                }
                a{
                    padding: 20px 50px;
                    font-family: 'Gotham Book';
                    font-size: 1rem;
                    background-color: #8cbabf;
                    color: #fff;
                }
            }
        }
    }
    .about{
        width: 88%;
        margin: 8% auto 25% auto;
        display: flex;
        font-family: 'Spoqa Han Sans';
        .tribe{
            width: 50%;
            position: relative;
            .tri{
                position: absolute;
                top:5%; left: 5%;
                hr{
                    width: 180px;
                    border-bottom: 3px solid #3c3c3b;
                    margin: 10% 0;
                }
                h3{
                    text-transform: capitalize;
                    font-family: 'Gotham Book';
                    font-size: 2rem;
                    color:#3c3c3b;
                }
            }
            a{
                img{
                    width: 80%;
                    margin-left: 20%;}
            }
            .large{
                font-size: 1rem;
                color: #3c3c3b;
                margin-top: 2%;
                margin-left: 20%;
            }
            p{
                font-size: 0.8rem;
                color: #bdbcbc;
                margin-left: 20%;
            }
            .btn{text-align: right;
                a{
                    text-transform: capitalize;
                    font-family: 'Gotham Book';
                    font-size: 0.8rem;
                    color: #3c3c3b;
                    border: 1px solid #8a8a8a;
                    padding: 10px 30px;
                    border-radius: 8%;
                }
            }
        }
        .lab{
            width: 50%;
            position: relative;
            .la{
                position: absolute;
                top:5%; left: 5%;
                hr{
                    width: 180px;
                    border-bottom: 3px solid #3c3c3b;
                    margin: 10% 0;
                }
                h4{
                    text-transform: capitalize;
                    font-family: 'Gotham Book';
                    font-size: 2rem;
                    color:#3c3c3b;
                }
            }
            a{
                img{
                    width: 80%;
                    margin-left: 20%;}
            }
            .large{
                font-size: 1rem;
                color: #3c3c3b;
                margin-top: 2%;
                margin-left: 20%;
            }
            p{
                font-size: 0.8rem;
                color: #bdbcbc;
                margin-left: 20%;
                
            }
            .btn{text-align: right;
                a{
                    text-transform: capitalize;
                    font-family: 'Gotham Book';
                    font-size: 0.8rem;
                    color: #3c3c3b;
                    border: 1px solid #8a8a8a;
                    border-radius: 8%;
                    padding: 10px 30px;
                }
            }
        }
    }
}

footer{
    width: 100%;
    background-color: #eeeeee;
    font-family: 'Spoqa Han Sans';
    .foot{
        display: flex;
        margin: 5% 6%;
        padding: 4% 0;
        .customer{
            width: 20%;
            margin-right: 3%;
            h5{
                font-size: 0.8rem;
                color: #3c3c3b;
                border-bottom: 1px solid #bdbcbc;
                line-height: 3;
            }
            p{
                font-size: 1.25rem;
                color: #3c3c3b;
            }
            p:nth-of-type(1){
                margin-top: 10%;
            }
            p:nth-of-type(2){
            }
            p:nth-of-type(3){
                font-size: 0.8rem;
                opacity: 0.5;
                margin: 3% 0 10% 0;
            }
            p:nth-of-type(4){
                font-size: 0.8rem;
                color: #3c3c3b;
            }
        }
        .business{
            width: 20%;
            margin-right: 3%;
            p:nth-of-type(1){
                font-size: 0.8rem;
                color: #3c3c3b;
                border-bottom: 1px solid #bdbcbc;
                line-height: 3;
            }
            p:nth-of-type(2){
                margin-top: 10%;
                a{
                    font-size: 1.25rem;
                color: #3c3c3b;
                font-family: 'Gotham Book';
                }
            }
            p:nth-of-type(3){
                font-size: 0.8rem;
                opacity: 0.5;
                margin: 3% 0 10% 0;
            }
            p:nth-of-type(4){
                font-size: 0.8rem;
                color: #3c3c3b;
            }
        }
        .qm{
            width: 10%;
            margin-right: 5%;
            p{
                font-size: 0.8rem;
                color: #3c3c3b;
                a{
                    display: inline-block;
                    margin-bottom: 18%;
                }
            }
            p:nth-of-type(1){
                font-size: 0.8rem;
                color: #3c3c3b;
                border-bottom: 1px solid #bdbcbc;
                text-transform: capitalize;
                font-family: 'Gotham Book';
                line-height: 3;
            }
            p:nth-of-type(2){margin-top: 15%;
                a{
                    font-size: 0.8rem;
                    text-transform: capitalize;
                    font-family: 'Gotham Book';
                }
            }
            p:nth-of-type(3){
                font-weight: bold;
            }
        }
        .info{
            width: 39%;
            p{
                font-size: 0.8rem;
                color: #3c3c3b;
            }
            a{
                font-size: 0.8rem;
                color: #3c3c3b;
            }
            a:nth-of-type(1){
                border: 1px solid #3c3c3b;
                padding: 10px 20px;
            }
            a:nth-of-type(2){
                border: 1px solid #3c3c3b;
                padding: 10px 20px;
                margin-right: 0.8%;
                img{
                    width: 5%; 
                }
            }
            a:nth-of-type(3){
                border: 1px solid #3c3c3b;
                padding: 10px 20px;
                img{
                    width: 5%; 
                }
            }
        }
    }
    .icon{
        display: flex;
        background-color: #bdbdbd;
        justify-content: space-between;
        align-items: center;
        padding: 1% 0;
        .brand{
            margin-left: 6%;
        }
        .sns{
            margin-right: 6%;
        }
    }
}
