@import '../css/common';



header{
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 9;
    .topmenu{
        padding: 0 3%;
        margin: 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border: 1px solid #eeeeee;
        a{
            width: 8%;
            img{
                width: 100%;}
            }
        .menu1{
            width: 50%;
            text-transform: capitalize;
            a{
                color: #000;
                font-size: 1rem;
                font-family: 'Gotham Book';
                margin: 0 2%;
                }
            }
        .menu2{
            width: 50%;
            text-transform: capitalize;
            text-align: right;
            a{
                color: #3c3c3b;
                font-size: 0.6rem;
                font-family: 'Spoqa Han Sans';
                margin: 0 1%;
            }
            a:nth-of-type(7)::before{
                content: '|';
                margin-right: 2%;
            }
        }
    }
}


main{
    width: 100%;
    .both{
        width: 77%;
        margin: 10% auto;
        h1{
            font-size: 2.5rem;
            font-family: 'Gotham Book';
            font-weight: bold;
        }
        .left{
            width: 30%;
            a{
                p{
                    border-bottom: 1px solid #3c3c3b;
                    color: #8a8a8a;
                    font-size: 0.8rem;
                    &::after{
                        content:'>';
                        width: 5%;
                    }
                    justify-content:space-between;
                }
            }
        }
        .right{
            width: 60%;
        }
    }
}
